<a href="https://colab.research.google.com/github/azemsah/nothesap/blob/main/azm_GlobalAIHub_PythonBootcamp_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

ogr_list = {}
ders_durum = ["KALDI", "ŞART", "GEÇTİ"]
ogr_ders = {}
hrf_not = {}

def ogr_bilgi():
    ogr_ad = str(input("\nÖğrenci adı : "))
    ogr_soyad = str(input("Öğrenci soyadı: "))

    ogr_ad_soyad = f"{ogr_ad} ".capitalize() + f"{ogr_soyad}".upper()

    ogr_ders = str(input("Ders Adı: "))
    ogr_no = int(input("Öğrenci Numarası: "))
    ogr_ders_not = int(input("Sınav notunu giriniz: "))
  
    if ogr_ders_not > 100 or ogr_ders_not < 0:
      ogr_ders_not = int(input("Öğrenci notu 0 ile 100 arasında olmalıdır!: "))
    
    if ogr_ders_not >0 and ogr_ders_not<= 40:
      hrf_not= ("FF")
    if ogr_ders_not >41 and ogr_ders_not<=59:
      hrf_not= ("DC")
    if ogr_ders_not >60 and ogr_ders_not<=69:
      hrf_not= ("CC")
    if ogr_ders_not >70 and ogr_ders_not<=74:
      hrf_not= ("CB")
    if ogr_ders_not >75 and ogr_ders_not<=79:
      hrf_not= ("BB")
    if ogr_ders_not >80 and ogr_ders_not<=89:
      hrf_not= ("BA")
    if ogr_ders_not >90 and ogr_ders_not<=100:
      hrf_not= ("AA")
    else:
      pass
      
      if ogr_ders_not >= 60:
        ogr_durum = ders_durum[2]
      elif ogr_ders_not > 41 and ogr_ders_not <= 59:
        ogr_durum = ders_durum[1]
      else:
        ogr_durum = ders_durum[0]

      ogr_list[ogr_ad_soyad] = [ogr_no, ogr_ders, ogr_ders_not, hrf_not, ogr_durum]

def dataframe(data): 
  global df_ogr_list
  df_ogr_list = pd.DataFrame.from_dict(data, orient ='index')
  df_ogr_list.columns = ['Okul No','Ders','Ders Notu','Harf Notu','Durum']
  df_ogr_list.info()
  return df_ogr_list

def excel(data):
  data.to_excel("StudentGradeList.xlsx")

In [2]:
ogr_bilgi()

Öğrenci adı : azem
Öğrenci soyadı: arslan
Ders Adı: mat
Öğrenci Numarası: 1
Sınav notunu giriniz: 60

UnboundLocalError: ignored

In [ ]:
ogr_list.items()

dict_items([('Volkan CEBECI', [200208090, 'Matematik', 85, 'BA', 'GEÇTİ']), ('Selin KÖMÜR', [185659856, 'Fizik', 38, 'FF', 'KALDI']), ('Çağrı YILDIRIM', [124866536, 'Python', 56, 'DC', 'KOŞULLU']), ('Nesrin AĞGÜL', [215658359, 'Web Programlama', 23, 'FF', 'KALDI'])])

In [ ]:
dataframe(ogr_list)

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Volkan CEBECI to Nesrin AĞGÜL
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Okul No    4 non-null      int64
 1   Ders       4 non-null      object
 2   Ders Notu  4 non-null      int64
 3   Harf Notu  4 non-null      object
 4   Durum      4 non-null      object
dtypes: int64(2), object(3)
memory usage: 192.0+ bytes

                  Okul No             Ders  Ders Notu Harf Notu    Durum
Volkan CEBECI   200208090        Matematik         85        BA    GEÇTİ
Selin KÖMÜR     185659856            Fizik         38        FF    KALDI
Çağrı YILDIRIM  124866536           Python         56        DC  KOŞULLU
Nesrin AĞGÜL    215658359  Web Programlama         23        FF    KALDI

In [ ]:
excel(df_ogr_list)

In [ ]:
print(df_ogr_list)

                  Okul No             Ders  Ders Notu Harf Notu    Durum
Volkan CEBECI   200208090        Matematik         85        BA    GEÇTİ
Selin KÖMÜR     185659856            Fizik         38        FF    KALDI
Çağrı YILDIRIM  124866536           Python         56        DC  KOŞULLU
Nesrin AĞGÜL    215658359  Web Programlama         23        FF    KALDI